{# src/CampBundle/Resources/views/Display/see_volunteers.html.twig #}

{% extends "XaliCampBundle::base_camp.html.twig" %}

{#Overwrite camp_body block#}
{% block camp_body %}
    <div class="text-center">
        <h1>
            <a href="{{ path('xali_camp_profile_profile', {'id': camp.id}) }}">
                {{ 'see.survivors.camp_survivors'|trans({'%camp_name%': camp.name}) }}
            </a>
        </h1>
        
        {% for survivor in survivors %}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <a href="{{ path('xali_survivor_profile_profile', {'id': survivor.id}) }}">
                        {{ survivor.firstname ~ ' ' ~ survivor.lastname }}
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    {{ 'see.survivors.birth_on'|trans }} {{ survivor.birthday|localizeddate('long', 'none', app.request.locale) }}
                </div>
            </div>
            {% if loop.last == false %}
                <hr />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}