{# src/SurvivorBundle/Resources/views/Management/add_survivor.html.twig #}

{% extends "XaliSurvivorBundle::base_survivor.html.twig" %}

{#Overwrite survivor_body block#}
{% block survivor_body %}
    
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
    <form id="form_add_survivor" method="POST" 
          action="{{ path('xali_survivor_management_add_survivor') }}" 
          {{ form_enctype(form) }}>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.firstname) }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.lastname) }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.birthday) }}
                {{ form_errors(form.birthday) }}
                {{ form_widget(form.birthday, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.eyesColor) }}<br />
                {{ form_errors(form.eyesColor) }}
                {{ form_widget(form.eyesColor, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.weight) }}
                {{ form_errors(form.weight) }}
                {{ form_widget(form.weight, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.weightUnit) }}<br />
                {{ form_errors(form.weightUnit) }}
                {{ form_widget(form.weightUnit, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.height) }}
                {{ form_errors(form.height) }}
                {{ form_widget(form.height, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.heightUnit) }}<br />
                {{ form_errors(form.heightUnit) }}
                {{ form_widget(form.heightUnit, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.hairColor) }}
                {{ form_errors(form.hairColor) }}
                {{ form_widget(form.hairColor, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" class="form-control btn btn-primary" value="{{ "form.submit"|trans }}" />
    </form>
</div>
        
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('resources/scripts/forms/add_list_group_item_class.js') }}"></script>
{% endblock %}
