{# src/Xali/Bundle/UserBundle/Resources/views/Registration/register.html.twig #}
{% extends "XaliUserBundle::base_user.html.twig" %}

{% block user_body %}
    <h1 class="text-center">{{ "form.add_volunteer"|trans({}, "messages") }}</h1>
    <form name="register_form" action="{{ path('xali_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="text-center">
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.firstname) }}<br />
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.lastname) }}<br />
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.email.first) }}<br />
                {{ form_errors(form.email.first) }}
                {{ form_widget(form.email.first, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.email.second) }}<br />
                {{ form_errors(form.email.second) }}
                {{ form_widget(form.email.second, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="row" >
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.plainPassword.first) }}<br />
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.plainPassword.second) }}<br />
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_label(form.gender) }}<br />
                {{ form_errors(form.gender) }}
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'} }) }}
            </div><br />
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="submit" id="submit" name="submit" class="form-control btn btn-primary" value="{{ "registration.submit" | trans }}" />
            </div>
        </div>
        {{ form_rest(form) }}
        
    </form>
{% endblock %}