{# src/SurvivorBundle/Resources/views/Search/search.html.twig #}

{% extends "XaliSurvivorBundle::base_survivor.html.twig" %}

{% block title %} Search - {{ parent() }} {% endblock %}

{#Overwrite survivor_body block#}
{% block survivor_body %}

    <form id="form-search-survivor" method="POST"
    action="{{ path('xali_survivor_search_search') }}" {{ form_enctype(form) }}>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.firstname) }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.lastname) }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.birthday) }}
                {{ form_errors(form.birthday) }}
                {{ form_widget(form.birthday, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
               {{ form_label(form.eyesColor) }}
                {{ form_errors(form.eyesColor) }}
                {{ form_widget(form.eyesColor, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.weight) }}
                {{ form_errors(form.weight) }}
                {{ form_widget(form.weight, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.weightUnit) }}
                {{ form_errors(form.weightUnit) }}
                {{ form_widget(form.weightUnit, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.height) }}
                {{ form_errors(form.height) }}
                {{ form_widget(form.height, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.heightUnit) }}
                {{ form_errors(form.heightUnit) }}
                {{ form_widget(form.heightUnit, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.hairColor) }}
                {{ form_errors(form.hairColor) }}
                {{ form_widget(form.hairColor, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <input type="submit" class="form-control btn btn-primary" value="{{ "form.search"|trans }}" />
    </form>
    
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
        <hr />
    </div>
    <!--Some results-->
    <table class="table table-bordered table-striped table-condensed table-responsive">
        <caption class="text-center">
            <h4 id="results">{{ "search.results"|trans }}</h4>
        </caption>
        <thead>
            <tr>
                <th>{{ "search.firstname"|trans }}</th>
                <th>{{ "search.lastname"|trans }}</th>
                <th>{{ "search.birthday"|trans }}</th>
                <th>{{ "search.eyes_color"|trans }}</th>
                <th>{{ "search.hair_color"|trans }}</th>
                <th>{{ "search.height"|trans }} (<span id="height_unit">{{ "unit" }}</span>)</th>
                <th>{{ "search.weight"|trans }} (<span id="weight_unit">{{ "unit" }}</span>)</th>
                <th>{{ "search.camp"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
                <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
                <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
                <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
                <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
              <td>Firstname example</td>
                <td>Lastname example</td>
                <td>xxxx-xx-xx</td>
                <td>Eyes color example</td>
                <td>Hair color example</td>
                <td>xx</td>
                <td>xx</td>
                <td>camp x</td>
            </tr>
            <tr>
                <td><button class="btn btn-info col-lg-12 text-center">{{ "search.not_found"|trans }}</button></td>
            </tr>
      </tbody>
    </table>
    
    
    
    
{% endblock %}