{# src/Xali/Bundle/UserBundle/Resources/views/Profile/edit.html.twig #}

{% extends "XaliUserBundle::base_user.html.twig" %}

{% block user_body %}

    <form action="{{ path('xali_user_profile_edit', {'id': app.user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.email.first) }}
                    {{ form_errors(form.email.first) }}
                    {{ form_widget(form.email.first, {'attr': {'class': 'form-control'} }) }}
                </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    {{ form_label(form.email.second) }}
                    {{ form_errors(form.email.second) }}
                    {{ form_widget(form.email.second, {'attr': {'class': 'form-control'} }) }}
               </div>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
