{# src/Xali/Bundle/UserBundle/Resources/views/Profile/show.html.twig #}

{% extends "XaliUserBundle::base_user.html.twig" %}

{% block user_body %}
    <div class="fos_user_user_show">
        <div class="">
            <a href="{#{{ path('xali_user_profile_edit') }}#}">{{ "profile.show.edit"|trans }}</a>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <h1>{{ "user.firstname" }}</h1>
            </div>
            <div class="col-md-6">
                <h1>{{ "user.lastname" }}</h1>
            </div>
        </div><br />

        <div class="row text-center">
            <div class="col-md-6">
                {{ 'profile.show.email'|trans }}: {{ "user.email" }}
            </div>
            <div class="col-md-6">
                {{ 'profile.show.camp_assigned'|trans }}: {{ "his camp" }}
            </div>
        </div>
    </div>
{% endblock %}