{# src/OrganisationBundle/Resources/views/Management/add_organisation.html.twig #}

{% extends "XaliOrganisationBundle::base_organisation.html.twig" %}

{#Overwrite organisation_body block#}
{% block organisation_body %}
    
    {% if error is not null %}
        {{ error | trans }}
    {% endif %}
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
    <form id="form_add_organisation" method="POST" action="{{ path('xali_organisation_management_add_organisation', {'id_organisation': organisation.id}) }}">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
               {{ form_label(form.name) }}
               {{ form_errors(form.name) }}
               {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="email">{{ 'form.manager_email'|trans }}</label>
                {% set emailValue = (organisation is not null) ? organisation.manager.email : "" %} 
                <input type="email" name="manager" value="{{ emailValue }}" id="manager"class="form-control"/>               
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" class="form-control btn btn-primary" value="{{ "form.submit"|trans }}" />
    </form>
</div>
        
{% endblock %}
