{# src/CampBundle/Resources/views/Management/add_camp.html.twig #}

{% extends "XaliCampBundle::base_camp.html.twig" %}

{#Overwrite camp_body block#}
{% block camp_body %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>{{ "form.add_camp"|trans }}</h1>
            </div>
        </div>
    <form id="form_add_camp" method="POST" action="{{ path('xali_camp_management_add_camp') }}">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="maps">{{ 'form.city'|trans }}</label>
                <input id="maps" class="form-control" type="text" size="50" 
                        placeholder="Enter a city" autocomplete="on"/>
            </div>
        </div>
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{form_widget(form.city) }}
        
        
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{form_widget(form.country)}}
                    
          {{ form_rest(form) }}
        <input type="submit" class="form-control btn btn-primary"
                                            value="{{ "form.submit"|trans }}" />
    </form>
</div>
        
        
        
{% block javascript %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/forms/city_complete.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('resources/scripts/forms/fill_city_inputs.js') }}">
    </script>
{% endblock %}    

{% endblock %}