{# src/OrganisationBundle/Resources/views/Profile/profile.html.twig #}

{% extends "XaliOrganisationBundle::base_organisation.html.twig" %}

{#Overwrite organisation_body block#}
{% block organisation_body %}
    <div class="text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>{{ "profile.organisation"|trans }} "{{ organisation.name }}"</h1>
                <button id="btn-delete" class="btn btn-danger">{{ "profile.delete"|trans }}</button>
                <form id = "form-delete" method="POST" action="{{ path('xali_organisation_delete', {'id': organisation.id}) }}">
                    <input type="hidden" value="{{ app.session.get('csrf_token_del_org') }}" name="csrf_token_del_org" />
                    <input type="submit" class="btn btn-danger" href="#"
                           value="{{ "profile.confirm_deleting"|trans }}" />
                </form>
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ "profile.created_on"|trans }} {{ organisation.dateOfCreation|localizeddate('long', 'none', app.request.locale) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ "profile.email"|trans }} {{ organisation.manager.email }}
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ "profile.camps_nb"|transchoice(campsNb) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ "profile.survivors_nb"|transchoice(survivorsNb) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ "profile.volunteers_nb"|transchoice(volunteersNb) }}
            </div>
        </div>
    </div>
                
    {% block javascript %}
        <script type="text/javascript" src="{{ asset('resources/scripts/profiles/confirm_deleting.js') }}"></script>
    {% endblock %}
                
{% endblock %}